h1{
   
    text-shadow: 20px 1px 1px yellow;
}
h2{
    text-shadow: 3px 10px 1px yellowgreen       ;
}
h3{
    text-shadow: 1px 1px 10px royalblue;
}
h4{
    text-shadow: 1px 20px 1px paleturquoise;
}